[core]
  autocrlf = input
  quotepath = false
	excludesfile = /Users/tsato/.gitignore
  sparsecheckout = true
  fscache = true
  preloadindex = true
  pager = delta
[user]
	email = takehitosato@gmail.com
	name = takehito sato
[github]
  user = takehitosato@gmail.com
[fetch]
  prune = true
  pruneTags = true 
; [pager]
;   log = diff-highlight | LESS=-R less
;   show = diff-highlight | LESS=-R less
;   diff = diff-highlight | LESS=-R less
# [interactive]
#   diffFilter = delta --color-only
# [add.interactive]
#     useBuiltin = false # required for git 2.37.0
# [delta]
#   navigate = true  # use n and N to move between diff sections
#   light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
# ; [merge]
# ;     conflictstyle = diff3
[diff]
  colorMoved = default
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[grep]
  lineNumber = true
[push]
  default = tracking
[rerere]
  enabled = true
[rebase]
  autosquash = true
[alias]
  st = status
  up = pull --rebase
  co  = checkout
  ci  = commit
  cm  = commit --amend
  cmh = commit --amend -C HEAD
  l    = log --graph --all --oneline --decorate --color  --date=default
  lonly = log --graph --oneline --decorate --color  --date=default
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ranking = shortlog -s -n --no-merges
  rb  = rebase
  rbi = rebase -i --keep-empty
  rbm = rebase master
  rbc = rebase --continue

  # http://gitready.com/advanced/2011/10/21/ribbon-and-catchup-reading-new-commits.html
  ribbon = tag --force _ribbon origin/master
  catchup = log --patch --reverse --topo-order _ribbon..origin/master

  topic = checkout origin/master -b
  current-branch = describe --all --contains HEAD

  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  gn = grep -n
  # http://transitive.info/article/git/command/cherry-pick/
  cp = cherry-pick
  cpn = cherry-pick -n
  cpm = cherry-pick -m 1
  one = log --oneline

  popd = checkout -
